.quadro{
    width: 1500px;
    height: 65px;
    background-color: darkblue;
}
h1{
font-size: 49px;
line-height: 80px;
color: white;
margin: 10px;
}


.quadro2{
width: 1500px;
height:20px;
background-color: darkblue;
}
h1{
font-size: 15px;
line-height: 20px;
color: white;
margin: 10px;
}


